#plugin_container {
  position: fixed;
  right: 5px;
  top: 55px;
  font-family: sans-serif;
  animation: opacityAnimation  1.5s ;
  z-index: 99999999;
}

#text_block{ 
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  padding: 10px 0px 10px 25px;
  margin-right: 50px;
  color: #000;
}
#text_block:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #fff;
  border-width: 30px;
  margin-top: -30px;
}
#plugin_container img {
  vertical-align: middle;
  width: 50px;
}
#plugin_container span {
  cursor: pointer;
  position: absolute;
  top: 4px;
  left: 8px;
}

@keyframes opacityAnimation {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}